html {
    /*
  ------------------
  防止iPhone在坚屏转向横屏时放大文字
  ------------------
  */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*
  ------------------
  统一行高
  ------------------
  */
    line-height: 1.15;
}

button,
input {
    /*
  ------------------
  兼容部分手机下border不显示问题
  ------------------
  */
    border: 1px solid #b2b2bd;
}

article,
footer,
header,
nav,
section {
    /*
  ------------------
  修正旧浏览器未定义的块级元素
  ------------------
  */
    display: block;
}

canvas,
svg {
    /*
  ------------------
  修正旧浏览器未定义的行内块元素
  ------------------
  */
    display: inline-block;
}

* {
    /*
  ------------------
  统一不同浏览器盒子尺寸计算方法
  ------------------
  */
    box-sizing: border-box;
}

::-ms-clear,
::-ms-reveal {
    /*
  ------------------
  去掉IE浏览器输入框叉叉和眼睛
  ------------------
  */
    display: none;
}

img {
    /*
  ------------------
  针对火狐浏览器在img标签没有src时候的差异修复
  ------------------
  */
    display: inline-block;
}