.login-view {
 &>form{
     width: 3.8rem;
     margin: auto;
     text-align: center;
     background-color: #009688;
     padding: .5rem;
     &>div{
         line-height: 3em;
        &>label{
            width: .6rem;
            display: inline-block;
            text-align: right;
        }
        &>input{
            width: 1.8rem;
            line-height: 2em;
            padding: 0 .1rem;
            border-radius: .05rem;
        }
     }
     &>input{
        margin-top: .3rem;
        display: inline-block;
        cursor: pointer;
        line-height: 2em;
     }
 }
}
